@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #222222;
  color: #f2f2f2;
  font-family: "Nunito";
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.userinfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-left-20 {
  margin: 20px;
}

.margin-left-10 {
  margin: 10px;
}

.margin-left-5 {
  margin: 5px;
}

.picture {
  width: 130px;
  height: 130px;
  border-radius: 40px;
  top: 5px;
  margin: 10px;
  background-color: #222222;
  outline: 0;
}

.pfp {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.icon {
  width: 20px;
  height: 20px;
}

.btn_icon {
  width: 25px;
  height: 25px;
  float: left;
  margin: 1px;
}

.btn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
}
