@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito";
}

input,textarea {
  color: #fff;
  background-color: #181A1B;
  overflow: auto;
  height: 100%;
  resize: none;
  border: 1px solid transparent;
}

.center {
  display: block;
  padding: auto;
  width: 100%;
}

.userinfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-left-20 {
  margin: 20px;
}

.margin-left-10 {
  margin: 10px;
}

.margin-left-5 {
  margin: 5px;
}

.picture {
  width: 130px;
  height: 130px;
  border-radius: 40px;
  top: 5px;
  margin: 10px;
  background-color: #222222;
  outline: 0;
}

.pfp {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.icon {
  width: 20px;
  height: 20px;
}

.btn_icon {
  width: 25px;
  height: 25px;
  float: left;
  margin: 1px;
}

.btn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
}

.report {
  background-color: #d40000;
  padding: 10px 10px;
  font-size: 30px;
}

.test {
  width: 100%;
}

.accordion {
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #2e6da4;
}

.panel {
  padding: 0 18px;
  overflow: hidden;
}

.apiTable{
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: auto;
}

.apiTable tr {
	padding: .35em;
}
  
.apiTable th,
.apiTable td {
	padding: .625em;
	text-align: center;
}
  
.apiTable th {
	font-size: .85em;
	letter-spacing: .1em;
}