  .userTable {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: auto;
  }
  
  .userTable caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
  }
  
  .userTable tr {
	padding: .35em;
  }
  
  .userTable th,
  .userTable td {
	padding: .625em;
	text-align: center;
  }
  
  .userTable th {
	font-size: .85em;
	letter-spacing: .1em;
  }
  
  @media screen and (max-width: 600px) {
	.userTable {
	  border: 0;
	}
  
	.userTable caption {
	  font-size: 1.3em;
	}
	
	.userTable thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}
	
	.userTable tr {
	  display: block;
	  margin-bottom: .625em;
	}
	
	.userTable td {
	  display: block;
	  font-size: .8em;
	  text-align: right;
	}
	
	.userTable td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a .userTable
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	}
	
	.userTable td:last-child {
	  border-bottom: 0;
	}
  }